## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [8]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [9]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
my_name = 'Mery'
print(my_name)

Mery

5) Crear una variable que contenga un número complejo

In [6]:
n_complejo = 3 + 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
n_pi = 3.1416
n_pi

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
var_1 = 'True'
var_2 = True
# ambas variables no tienen el mismo tipo de dato, ya que var_1 es un string y var_2 es un booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print(type(var_1), type(var_2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
suma = 5 + 5.7
suma

10.7

11) Realizar una operación de suma de números complejos

In [16]:
sum_complex_1 = 3 + 13j
sum_complex_2 = 5 + 7.9j
sum_complex_1 + sum_complex_2

(8+20.9j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
sum_mix = 4.8 + sum_complex_1
sum_mix

(7.8+13j)

13) Realizar una operación de multiplicación

In [18]:
mult = 5 * 5.7
mult

28.5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
pot = 5 ** 2
pot

25

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
coc = 27/4
print(coc)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
print(int(coc))

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
residuo = 27 % 4
print(residuo)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
resp = int(coc)*4 + residuo
resp

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
var_2 = "Data "
var_3 = "Science"
print(var_2 + var_3)

Data Science

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
'2' == 2
# Esto es falso porque la primera constante es string y la segunda es un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
a = float('38')
a
# El error se debe porque para representar un número decimal se debe usar el punto y no la coma

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [40]:
var_4 = 3
var_4 -= 1
var_4

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [41]:
1<<2
# este resultado es 4 porque se está desplazando dos bits a la izquierda
# el sistema de nnumeracion binario es un sistema de base 2, representado por los números con dos símbolos, 0 y 1

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [44]:
sum_3 = 2 + '2'
sum_3
# el error se debe a que no se puede sumar un entero con un string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
sum_4=int('2') + 2
sum_4
# en este caso se convierte el string a entero y se puede realizar la suma

4

26) Realizar una operación válida entre valores de tipo entero y string

In [46]:
var6 = 'el gran chef se repite '
var7 = 5
print(var6 * var7 + str(var7) + ' veces')

el gran chef se repite el gran chef se repite el gran chef se repite el gran chef se repite el gran chef se repite 5 veces